{% extends 'layout.html' %}

{% block content %}
  <ul>
    {% for file in files %}
      <li>
        <a href="{{ url_for('get_file', filename=file) }}">{{ file }}</a>
        <a href="{{ url_for('show_edit_file', filename=file) }}">edit</a>
        <form action="{{ url_for('delete_file', filename=file) }}" method="post" id="delete_form">
          <input type="submit" value="delete">
        </form>
      </li>
    {% endfor %}
  </ul>
  <a href="{{ url_for('show_new_document') }}">new document</a>

  {% if username %}
    <form method="post" action="{{ url_for('signout') }}">
      <p class="user-status">
        signed in as {{ username }}
        <button type="submit">sign out</button>
      </p>
    </form>
  {% else %}
    <p class="user-status"><a href="{{ url_for('show_signin') }}">sign in</a></p>
  {% endif %}
{% endblock %}
